.card--spacer {
	flex: 1;
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 450px;
	padding: 16px;
	margin: 0 auto;
	user-select: none;
}

.card {
	flex: 1;
	background: rgba(0,0,0,0.02);
	border-radius: 3px;
	box-shadow: 0 3px 4px rgba(0,0,0,0.3);
	margin: 20px 0;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
	background: #fff;

	&--disabled {
		opacity: .6;
	}
}
