.swipe > div {
	/* absolute positioning fixes an safari issue that will cause height: 100%; not to work */
	position: absolute !important;
	top: 0;
	bottom: 0;
	left: 0;
}

.swipe > div > div {
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
}
