.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	background-color: #303F9F;
	color: #fff;
}

.footer--link {
	flex: 1;
	text-align: center;
	font-weight: 600;
	text-decoration: none;
	color: inherit;

	&:visited {
		color: inherit;
	}

	&:active {
		opacity: .6;
	}
}
