.tabs {
	display: flex;
	flex-direction: column;
	background: #fff;
	width: 100%;
	height: 100%;
}

.tabs-header {
	display: flex;
	position: relative;
	width: 100%;
	background: #E91E63;
}

.tabs-header-bar {
	display: block;
	position: absolute;
	bottom: 5px;
	left: 0;
	min-width: 10px;
	height: 2px;
	background: #FFF;
	transition:
		left .5s cubic-bezier(0.23, 1, 0.32, 1) 0ms,
		width .5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.tabs-header-button {
	background: #0000;
	border: 0;
	font-size: inherit;
	outline: 0;
	padding: 8px 12px;
	margin: 6px;
	border-radius: 2px 2px 0 0;
	font-weight: 600;
	color: rgba(255,255,255, .9);

	&:active {
		color: inherit;
	}

	&.is-active {
		color: #FFF;
	}
}

.tabs-main {
	flex: 1;
	overflow: hidden;
	contain: layout;
}

.tabs-main-container {
	display: flex;
	flex-direction: row;
	transition: transform .8s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	will-change: transform;
}

.tabs-panel {
	flex: 1;

	/*&.is-active {
		display: block;
	}*/
}
