html,
body {
	/*user-select: none;*/
	touch-action: manipulation;
	text-size-adjust: none;
	font-smooth: always;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
	-ms-content-zooming: none;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
	box-sizing: border-box;
}

/* Inherit box-sizing */
*, *:before, *:after {
	box-sizing: inherit;
}

.app {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.app--container {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.app--body {
	flex: 1;
	overflow: hidden;
}

.tabs.app-tabs {
	flex-direction: column-reverse;

	& .tabs-header {
		display: flex;
		justify-content: space-between;

		& .tabs-header-button {
			flex: 1;
			font-size: 0.8rem;
			overflow: hidden;
			margin: 6px;
			padding: 8px 0;
		}
	}

	& .tabs-panel {
		width: 100%;
	}
}
