.signup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #FF9800;
	color: #fff;
}

.signup--button {
	user-select: none;
	outline: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 2000px;
	background: #fff;
	width: 20vw;
	height: 20vw;
	background: #00BCD4;
	box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);
	font-weight: 600;
	font-size: 6vw;
	transition: opacity .4s cubic-bezier(0.23, 1, 0.32, 1);

	&[disabled] {
		opacity: .3;
	}

	&-is-spinning {
		animation-name: spinnerRotate;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
}


@keyframes spinnerRotate {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
