.swipe {
	position: relative;
	overflow: hidden;
	user-select: none;
	contain: layout;
}

.swipe-container {
	/* Safari doesn't get height: 100%; /cry */
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.swipe-panel {
	position: relative;
	flex: 1;
	transition-timing-function: cubic-bezier(0.13, 0.76, 0.51, 0.93);
	contain: layout;
	overflow: hidden;
	overflow-y: auto;
}
