.input-label {
	user-select: none;
	border-bottom: 1px solid #fff;
	font-weight: 600;
	outline: 0;
	cursor: pointer;

	&:active {
		border-color: #0000;
	}
}

.input-overlay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.8);
	color: #fff;
	animation-name: inputOverlay;
	animation-duration: .5s;
	animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	animation-fill-mode: both;

	&.leave {
		animation-name: inputOverlayLeave;
	}

	& h2 {
		text-align: center;
	}

	& input {
		outline: 0;
		font-weight: 600;
		color: #fff;
		font-size: 2em;
		background: rgba(0,0,0,0);
		border-color: rgba(0,0,0,0);
		border-bottom: 2px solid #fff;
		max-width: 80vw;
	}
}

@keyframes inputOverlay {
	0% {
		clip-path: circle(0% at center);
		opacity: 0;
	}
	100% {
		clip-path: circle(100% at center);
		opacity: 1;
	}
}

@keyframes inputOverlayLeave {
	0% {
		clip-path: circle(100% at center);
		opacity: 1;
	}
	100% {
		clip-path: circle(0% at center);
		opacity: 0;
	}
}
