.timer {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;

	&--panic {
		color: red;
		font-size: 1.4em;

		/*animation-name: flash;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;*/
	}
}

@keyframes flash {
	0%, 100% {
		opacity: 1;
		transform: scale(1);
	}
	50% {
		opacity: .4;
		transform: scale(1.4);
	}
}
